
.black-box {
  width: 200px;
  height: 200px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 19px;
span {                   
  color: pink;
  }
}  

