@import 'App.scss';

.body {
    // margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.BlueBoxWithButton {
    display: flex;
    justify-content: center;
    align-items:  center;
    background-color: blue;
    width: 300px;
    height: 300px;
    margin-top: 40mm;
    margin-left: 200mm;
   
}

.RedCircleWithButton {
    display: flex;
    justify-content: center;
    align-items:  center;
    background-color:red;
    border-radius: 200px;
    width: 300px;
    height: 300px;
    margin-top: 10mm;
    margin-left: 200mm;
   
}